.student-information-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures container takes full height of viewport */
}

.student-info-box {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; /* Align text inside the box */
    background-color: #9c658d; /* Background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}


.update-button {
    background-color: #0008fff4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #b30000;
}
