.teacher-container {
    margin-top: 20px;
    text-align: center;
    overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.teacher-heading {
    margin-bottom: 20px;
    color: #333;
}

.teacher-table {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center align */
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add table border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for elevation */
}

.teacher-table th, .teacher-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.teacher-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-radius: 8px 8px 0 0; /* Add border-radius to top header cells */
    position: sticky;
    top: 0;
    z-index: 1;
}

.teacher-table tbody tr:nth-child(even) {
    background-color: #5c8b2a4d; /* Lighter alternating row color */
}

.teacher-table tbody tr:hover {
    background-color: #f2f2f2; /* Hover color */
}

.view-button {
    font-size: 12px; /* Adjust the font size to make the button smaller */
    padding: 5px 10px;
    border-radius: 20px; /* Adjust padding to make the button smaller */
    border: none;
    background-color: #ff00fb; /* Default button background color */
    color: #fff; /* Default button text color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect for smoother hover */
    width: 100px;
}

.view-button:hover {
    background-color: #3300b3; /* Change button background color on hover */
}

.view-button:active {
    transform: translateY(1px); /* Add slight downward movement on click */
}

.actions-column {
    width: 100px; /* Adjust the width of the column */
}
.search-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333; /* Stronger border */
    border-radius: 8px; /* Rounded border corners */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2; /* Light background color */
}

.search-container select,
.search-container input[type="text"],
.search-container button {
    padding: 8px 12px;
    border-radius: 5px; /* Rounded corners for input elements */
    border: 1px solid #ccc; /* Lighter border for input elements */
}

.search-container select {
    flex: 1; /* Take remaining space */
    margin-right: 10px;
}

.search-container input[type="text"] {
    flex: 2; /* Take double the space */
    margin-right: 10px;
}

.search-container button {
    background-color: #007bff; /* Blue button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
}

.search-container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
